{% extends "home/base.html" %}
{% load static %}

{% block addon_css %}
<style>
    .containerbox {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .box {
        flex: 1 1 calc(50% - 20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        box-sizing: border-box;
        text-align: justify;
    }
    h2, h3 {
        margin-top: 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="container py-4">

    <div class="p-3 mb-2 bg-light rounded-3">
        <div class="container-fluid py-3">
          <div class="row">
            <!-- Text Column -->
            <div class="col">
              <h2 class="display-6 fw-bold">About ChemoPar-db</h2>
              <hr class="my-2">
                <p>
                    The Chemokine Partner database
                </p>
            </div>  
          </div>
        </div>    
      </div>


    <h2 class="mt-5 mb-3">What Are Chemokines?</h2>
    <p>
        Chemokines are essential signalling proteins that play a pivotal role in the immune system by guiding the movement of immune cells to areas of inflammation, infection, or injury. 
        They achieve this by creating chemokine gradients that immune cells follow to reach the affected sites. This process is crucial for orchestrating an effective immune response.
        Chemokines are categorised into four primary subfamilies based on the arrangement of cysteine residues in their N-terminus: CXC, CC, XC, and CX3C. 
        Each subfamily and subtype has a distinct sequence characteristics and functional roles in immune cell trafficking and activation.
    </p>
    <p>
        In ChemoPar-db, we focus on chemokines as the central component of our database, providing detailed insights into their interactions with a wide range of binding partners. 
        Our goal is to offer a comprehensive resource for researchers studying chemokines from a structural perspective.
    </p>

    <div class="d-flex justify-content-center">
        <img src="{% static 'home/images/chemokines_and_partners.png' %}" alt="img" style="max-width: 75%;">
    </div>
     
    <br>

    <div class="containerbox">
        <div class="box">
            <h3 class="mt-5 mb-3">G Protein-Coupled Receptors (GPCRs)</h3>
            <p>
                The primary and most well-characterized binding partners of chemokines are their respective G protein-coupled receptors (GPCRs). 
                These receptors are integral membrane proteins with a signature seven-transmembrane domain structure. 
                Upon binding to chemokines, GPCRs initiate a cascade of intracellular signalling pathways that mediate immune cell migration and activation.
            </p>
        </div>

        <div class="box">
            <h3 class="mt-5 mb-3">Chemokine Dimers</h3>
            <p>
                Chemokines can form oligomeric structures through, among others, homo- and heterodimerisation. 
                These dimeric forms are crucial for their biological activity and can influence the affinity and specificity of chemokine-receptor interactions, thereby modulating immune responses.
            </p>
        </div>

        <div class="box">
            <h3 class="mt-5 mb-3">Chemokine Binding Proteins (CKBPs)</h3>
            <p>
                This diverse class includes a variety of proteins that bind chemokines. 
                Chemokine Binding Proteins (CKBPs) encompass viral proteins, which can subvert normal chemokine function to evade immune detection and endogenous regulators that fine-tune chemokine activity and signalling.
            </p>
        </div>

        <div class="box">
            <h3 class="mt-5 mb-3">Peptides</h3>
            <p>
                Various peptides, including the N-terminal domains of GPCRs, have been shown to bind chemokines. 
                These interactions can provide insights into the structural basis of chemokine-receptor recognition and the modulation of chemokine function.
            </p>
        </div>

        <div class="box">
            <h3 class="mt-5 mb-3">Antibodies</h3>
            <p>
                Monoclonal antibodies targeting chemokines have been developed for both research and therapeutic purposes. 
                Structural data on these antibodies offer valuable information for designing inhibitors that block chemokine activity in disease contexts.
            </p>
        </div>

        <div class="box">
            <h3 class="mt-5 mb-3">Glycosaminoglycans</h3>
            <p>
                Glycosaminoglycans (GAGs) are complex, sugar-like molecules that can interact with chemokines. 
                These interactions are critical for chemokine immobilisation and presentation on cell surfaces or within extracellular matrices, facilitating chemokine gradient formation and immune cell recruitment.
            </p>
        </div>

        <div class="box">
            <h3 class="mt-5 mb-3">Small molecules</h3>
            <p>
                Several small molecules that bind to chemokines and inhibit their signalling have been identified. 
                These molecules represent potential therapeutic agents for modulating chemokine activity in various diseases. 
                Although structural data on these small molecules are limited, ongoing research continues to expand our understanding of their interactions with chemokines.
            </p>
        </div>
    </div>
    <br>

    <h2 class="mt-5 mb-3">Our Database</h2>
    <p>
        ChemoPar-db serves as a comprehensive repository for data on chemokines and their binding partners. 
        We provide detailed information on the structural, functional, and interaction properties of chemokines, supporting the research community in uncovering the complex networks that govern immune responses. Our database includes experimental data, computational models, and curated references, offering a valuable tool for advancing our understanding of chemokine biology and its implications in health and disease.
    </p>
    <p>
        By facilitating access to high-quality data on chemokine interactions, ChemoPar-db aims to accelerate discoveries in immunology, inflammation, and related fields, ultimately contributing to the development of novel therapeutic strategies targeting chemokine pathways.
    </p>
    
</div>
{% endblock %}