{% load static %}

        <nav class="navbar navbar-expand-lg fixed-top px-3" data-bs-theme="dark">
            <a class="navbar-brand" href="/index">
                <img src="{% static 'home/images/ChemoPar_logo.png' %}" height="50" alt="ChemoPar-db Logo">ChemoPar-db
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">

                        <!-- Data -->
                        <li class="nav-item dropdown">
                            <a class="nav-link {% if request.resolver_match.url_name == '/protein' %}active{% endif %} dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Data
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/protein">Proteins</a></li>
                                <li><a class="dropdown-item" href="/partner">Partners</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/structure">Structures</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/structure/predicted">Predicted structures (chemokine)</a></li>
                                <li><a class="dropdown-item" href="/structure/predicted_complexes/">Predicted structures (chemokine-partner)</a></li>
                            </ul>
                        </li>

                        <!-- Tools -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if '/charts' in request.path or '/chemokine-diagram' in request.path %}active{% endif %}" href="#" id="toolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tools
                            </a>
          <ul class="dropdown-menu" aria-labelledby="toolsDropdown">
            <li><a class="dropdown-item {% if '/charts' in request.path %}active{% endif %}" href="/charts">Charts</a></li>
            <li><a class="dropdown-item {% if '/chemokine-diagram' in request.path %}active{%endif %}" href="/chemokine-diagram">Custom chemokine diagram</a></li>
            <li><a class="dropdown-item {% if '/interaction/residue-search' in request.path %}active{% endif %}" href="/interaction/residue-search/">Interaction search</a></li>
          </ul>
        </li>

                        <!-- Docs & Support -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if url_name == 'api' or url_name == 'example' %}active{% endif %}" href="#" id="docsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Docs &amp; Support
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="docsDropdown">
                                <li><a class="dropdown-item {% if url_name == 'api' %}active{% endif %}" href="/api">API</a></li>
                                <li><a class="dropdown-item {% if url_name == 'example' %}active{% endif %}"href="/example">Example</a></li>
                                <li><a class="dropdown-item" href="https://chemopar-db.readthedocs.io/en/latest/" target="_blank">Documentation</a></li>
                                <li><a class="dropdown-item" href="https://chemopar-db.readthedocs.io/en/latest/contact.html" target="_blank">Contact</a></li>
                                <li><a class="dropdown-item" href="https://chemopar-db.readthedocs.io/en/latest/citing_chemopar-db.html" target="_blank">Citing ChemoPar-db</a></li>
                            </ul>
                        </li>

                </ul>
                <form class="form-inline my-2 my-lg-0 custom-form" onsubmit="return false;">
                    <input id="search" class="form-control mr-sm-2 custom-input" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </nav>
