{% extends "home/base.html" %}
{% load static %}

{% block addon_css %}
  <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />
  <style>
    .dataTables_wrapper .dataTables_filter { float: right; text-align: right; }
    table.dataTable thead th, table.dataTable tfoot th { white-space: nowrap; }
    table.dataTable th, table.dataTable td {
      text-align: left;
      white-space: nowrap;
      max-width: 500px;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    table.dataTable td { padding: 5px 5px; }
    .dataTables_filter, .dataTables_length { margin-bottom: 20px; }
    table.dataTable tbody tr { background-color: #fff; }
    table.dataTable tbody tr:hover { background-color: #f2f2f2; cursor: pointer; }
    #partners a { text-decoration: none !important; }
    #partners a:hover { text-decoration: underline !important; }
    .select2-container { font-size: 0.8rem; }
    .select2-dropdown,
    .select2-results__options,
    .select2-results__option,
    .select2-selection__rendered,
    .select2-selection__choice,
    .select2-container .select2-search__field { font-size: 0.8rem; }
    .yadcf-filter-wrapper { font-size: 0.8rem; }
  </style>
{% endblock %}

{% block content %}
    <div class="bg-light rounded-3 p-3 mb-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <h2 class="display-6 fw-bold">Browse partners</h2>
            </div>  
          </div>
        </div>    
      </div>


    <div style="font-size: 0.8rem;">
        <table id="partners" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Partner Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
              {% for partner in partners %}
              {% if partner.id %}
              <tr data-href="{% url 'partner_detail' partner.id %}">
                <td><a href="{% url 'partner_detail' partner.id %}">{{ partner.name }}</a></td>
                <td>{{ partner.type }}</td>
              </tr>
              {% else %}
              <tr>
                <td>{{ partner.name }}</td>
                <td>{{ partner.type }}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% block addon_js %}
  <script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"></script>
  <script src="{% static 'home/js/select2.js' %}"></script>
  <script>
  $(document).ready(function() {
    var table;
    if ($.fn.DataTable.isDataTable('#partners')) {
      table = $('#partners').DataTable();
    } else {
      table = $('#partners').DataTable({
        responsive: true,
        paging: false,
        scrollX: true,
        autoWidth: true,
        dom: 'Bfrtip',
        order: [],
        buttons: ['copy','csv','excel','pdf','print']
      });
    }

    $('#partners tbody').off('click.rownav').on('click.rownav', 'tr', function(event) {
      if (!$(event.target).closest('a').length) {
        var url = $(this).data('href');
        if (url) window.location.href = url;
      }
    });

    if (!$('#partners').data('yadcf-initialized')) {
      yadcf.init(table, [
        { column_number: 0, filter_type: 'multi_select', select_type: 'select2', column_data_type: 'html', html_data_type: 'text', filter_default_label: 'Partner', filter_reset_button_text: false, select_type_options: { width: '160px' } },
        { column_number: 1, filter_type: 'multi_select', select_type: 'select2', filter_default_label: 'Type', filter_reset_button_text: false, select_type_options: { width: '120px' } }
      ], { cumulative_filtering: false });
      $('#partners').data('yadcf-initialized', true);
    }

    var initialType = "{{ selected_type|default_if_none:''|escapejs }}";
    if (initialType) {
      setTimeout(function () {
        yadcf.exFilterColumn(table, [[1, [initialType]]]);
      }, 0);
    }
  });
  </script>
{% endblock %}
{% endblock %}
