{% extends "home/base.html" %}
{% load static %}

{% block addon_css %}
    <link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/color_picker.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/construct_browser.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />
    <link href="{% static 'home/css/construct_alignment.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/modal.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/jquery.powertip.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24
        }
    
    #Viewer {
        width: 600px;
        height: 500px;
        position: relative;
        overflow: hidden;
    }

        .scrollable-table {
            width: 100%;
            max-height: 600px;
            overflow-y: auto;
            margin-top: 20px;
        }

    </style>
{% endblock %}

{% block content %}
<div class="container">

    <!-- Page Heading -->
    <h1 class="detail_title text-center">                
        {% if not structure.pdb_code %}
        AlphaFold model {{ structure.protein.accession }}-AF
        {% else %}
	    PDB structure <a href="https://www.rcsb.org/structure/{{ structure.pdb_code.index }}" target="_blank">{{ structure.pdb_code.index }}</a>
        {% endif %}
        {% if chain %}
        - chain {{ chain.chain_ID }}
        {% endif %}
    </h1>
    <br>

    <!-- Main Content -->
    <div class="col-12">

        <!-- Structure details -->
        <h3 id="structure_details">Structure details</h3>
        <hr class="my-2">
        <div class="row">
            <div class="col-4">
                <ul class="list-unstyled">
                    <li><b>Protein:</b>
                        {{protein}} <a href="/protein/{{protein}}"><span class="material-symbols-outlined">open_in_new</span></a>
                    </li>
                    <li><b>Organism:</b> 
                        <i>{{ protein.species }}</i>
                    </li>
                    <li><b>UniProt ID:</b> 
                        {{ protein.accession }} <a href="https://www.uniprot.org/uniprot/{{ protein.accession }}" target="_blank" title="www.uniprot.org">
                        <span class="material-symbols-outlined">open_in_new</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <ul class="list-unstyled">
                    <li><b>Method:</b> <a>{{ structure.structure_type.name }}</a></li>
                    <li><b>Resolution:</b> {% if structure.resolution != None %}<a>{{ structure.resolution }} Å</a>{% endif %}</li>
                    <li><b>Date:</b> <a>{{ structure.publication_date }}</a></li>
                    <li><b>Reference:</b> {{ structure.publication.web_link.index }}
                            <a href="https://doi.org/{{ structure.publication.web_link.index }}" target="_blank"><span class="material-symbols-outlined">open_in_new</span></a></li>
                    <li><b>State:</b> <a>{{ structure.state }}</a></li>
                    <li><b>Chains:</b> <a>{{ structure.chains }}</a></li>
                    <li><b>Partners:</b>     
                        {% for chain in non_chemokine_chains %}
                        <a target='_blank' href="/chain/{{ chain.id }}">{{ chain.name }}</a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>      
        <!-- 3D view -->
        <div class="col-md-12"> 
            <h3 id="3d_view">3D view</h3>
            <hr class="my-2">
                <div class="row">
                        <div class="col-md-6">
                            <div id="viewport" style="width:600px; height:600px;"></div>
                            <div style="width:600px; background-color:#eaeaea; border-radius: 0px 0px 5px 5px;">
                                <p style="padding: 2px 0px 2px 5px; font-size: 10px;"><button id="fullscreen">Full Screen</button><a href="https://github.com/arose/ngl" target='_blank'> NGL</a> is a WebGL based 3D viewer powered by <a href="https://mmtf.rcsb.org" target='_blank'>MMTF</a>.</p>
                            </div>
                        </div>
                    </div>
        
        <div class="col-md-6">

        </div>
        <br>

        <div>
        <h3>Interactions found in structure</h3>
        <hr class="my-2">
        <!-- Table of Interactions -->
        <div class="scrollable-table">
            <table id="example" class="table table-hover" style="width: 100%">
                <thead>
                    <tr>
                        <th>Chemokine Residue</th>
                        <th>Partner Residue</th>
                        <th>Interaction Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for interaction in interactions %}
                    <tr data-residue="{{ interaction.chemokine_residue.pdbseq_number }}">
                        <td>{{ interaction.chemokine_residue.residue.amino_acid_three_letter }} {{ interaction.chemokine_residue.pdbseq_number }}</td>
                        <td>{{ interaction.partner_residue }}</td>
                        <td>{{ interaction.interaction_type }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No interactions found for this structure.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>

        <!-- Snake plot -->
        <div class="row">
            <div class="col-md-12">
                <h3 id="snake_plot">Snake Plot</h3>
                <hr class="my-2">
                {{ protein }}
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:saveSvgAsPng(document.getElementById('snakeplot'), 'snake_{{ p.entry_name }}.png',
                            {scale: 3});">PNG</a>
                        </li>
                        <li>
                            <a href="javascript:saveSvgAsJpg(document.getElementById('snakeplot'), 'snake_{{ p.entry_name }}.jpg',
                            {scale: 3});">JPG</a>
                        </li>
                        <li>
                            <a href="javascript:saveSvgAsTiff(document.getElementById('snakeplot'), 'snake_{{ p.entry_name }}.tiff',
                            {scale: 3});">TIFF</a>
                            </a>
                        </li>
                        <li>
                        <a id=snake_svg_link href-lang="image/svg+xml" href="" download="snake_{{ p.entry_name }}">SVG</a>
                        </li>
                        </ul>
                    </div>
            </div>
        </div>
    <br>
    <br>
    <div>
        {{ distmatrix|safe }}
    </div>
    <div>
        {{ chart|safe }}
    </div>     

    

    <script>
        $( document ).ready(function() {
            // var elements = document.getElementsByClassName('long')

            // for (var i = 0; i < elements.length; i++){
            //     elements[i].style.display = 'none';
            // }
            y_min = 0;
            y_max = 0;
            // maxmin();
            //$(".long").hide();


            $('rect').each(function(){

                rectclass = $(this).attr('class');
                if (rectclass) {
                    if (rectclass.indexOf("CL") >= 0 && rectclass.indexOf("long") >= 0) {

                        numResidues = ($('.'+rectclass.replace(/ /g,".")).length-3)/2

                        // console.log('class:'+rectclass+' count'+numResidues);

                        if (numResidues<10) {
                            toggleLoop('.'+rectclass.split(' ')[0],'',1);
                        }
                    }
                }
            });

            maxmin();

            $("text").tooltip({
                'container': 'body',
                'placement': 'top',
                'animation': false,
                'html' : true
            });


            $("circle").tooltip({
                'container': 'body',
                'placement': 'top',
                'animation': false,
                'html' : true
            });

            $("circle").hover(function(){
                $('.tooltip').css('top',parseInt($('.tooltip').css('top')) + 2.8 + 'px')
            });
        
            $(".rtext").click(function() {
                parentid = $(this).closest('svg').attr('id');
                newcolor = $(".pick-color."+parentid+".selected").attr('id');
                if (newcolor) {
                  newcolor = newcolor.split('-');
                } else {
                  custom =  $("#custom_color_"+parentid).val();
                  custom_text = getContrast50(custom);
                  newcolor = ["pick",custom,custom_text];
                }
              console.log(newcolor);
            
              $(this).css("fill", newcolor[2]);
              $(this).prev().css("fill", newcolor[1]);
            });

            $(".rcircle").click(function() {
                parentid = $(this).closest('svg').attr('id');
                newcolor = $(".pick-color."+parentid+".selected").attr('id');

                if (newcolor) {
                  newcolor = newcolor.split('-');
                } else {
                  custom =  $("#custom_color_"+parentid).val();
                  custom_text = getContrast50(custom);
                  newcolor = ["pick",custom,custom_text];
                }
              console.log(newcolor);
              $(this).css("fill", newcolor[1]);
              $(this).next().css("fill", newcolor[2]);
            });

            $("#snake_svg_link").click(function() {
                svgAsDataUri(document.getElementById("snakeplot"),{}, function(uri) {
                    $("#snake_svg_link").attr('href',uri);
                });
            });
            $("#helix_svg_link").click(function() {
                svgAsDataUri(document.getElementById("helixbox"),{}, function(uri) {
                    $("#helix_svg_link").attr('href',uri);
                });
            });

        });

        $(".pick-color").click(function() {
            plottype = $(this).attr('class').split(' ')[1];
        
            console.log($(this).attr('id'));
            $(".pick-color."+plottype).css('borderWidth','2px');
            $(".pick-color."+plottype).css('height','20px');
            $(".pick-color."+plottype).removeClass('selected');
            $(this).css('borderWidth','3px');
            $(this).css('height','22px');
            $(this).addClass('selected');
        
        });
    </script>

{% endblock %}

{% block addon_js %}
<script src="https://cdn.jsdelivr.net/npm/ngl@latest/dist/ngl.js"></script>

<script src="{% static 'home/js/table_functions.js' %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var stage = new NGL.Stage("viewport", { backgroundColor: "white" });
    
        var stringBlob = new Blob([`{{ structure.pdb_data.pdb }}`], { type: 'text/plain' });
        var file = new File([stringBlob], "structure.pdb");
    
        stage.loadFile(file, { ext: "pdb" }).then(function(comp) {
            comp.addRepresentation("cartoon", { color: "residueindex" });
            stage.autoView(); // call autoView on stage, not comp
        });
    
        document.getElementById('example').addEventListener('click', function(e) {
            var target = e.target.closest('tr');
            if (target && target.dataset.residue) {
                var residueId = target.dataset.residue;
                stage.loadFile(file, { ext: "pdb" }).then(function(comp) {
                    comp.removeAllRepresentations(); // Correctly call removeAllRepresentations on comp
                    comp.addRepresentation("cartoon", { color: "residueindex" });
                    comp.addRepresentation("ball+stick", {
                        sele: residueId,
                        scale: 1.5
                    });
                    stage.autoView(residueId); // Ensure autoView is called with correct parameters
                });
            }
        });
        $( "#fullscreen" ).click(function() {
            stage.toggleFullscreen();
        } );
    });
    
</script>


<script src="{% static 'home/js/sequenceviewer.js' %}"></script>
<script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'home/js/diagrams.js' %}"></script>
<script src="{% static 'home/js/color_picker.js' %}"></script>
<script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
<script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"> </script>
<script src="{% static 'home/js/select2.js' %}"> </script>
<script src="{% static 'home/js/alignment.js' %}"> </script>
<script src="{% static 'home/js/jquery.powertip.js' %}"></script>

{% endblock %}