# Git
.git 
.gitignore

# Docker
.docker 

# Python
ChemoPar/__pycache__/
ChemoPar/*/__pycache__/
ChemoPar/*/*/__pycache__/
ChemoPar/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/